<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<div *ngIf="apiLoaded | async">
    <google-map 
    id="map" 
    width="100%"
    height="100vh" 
    [options]="mapOptions"
    (mapClick)="addMarker($event)"
>
        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
        [position]="{lat:markerPosition.latitude,lng:markerPosition.longitude}"
        [options]="markerOptions"
        (mapClick)="openInfoWindow(marker)">
        </map-marker>
        <map-info-window>
          <p class="info-window"> 
            {{content}}
          </p>
        </map-info-window>
    </google-map>
    
    <button (click)='openDialog()'>
        <mat-icon aria-hidden="false" style="font-size: 36px;" aria-label="add icon">add</mat-icon>

    </button>
</div>

