<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<header style="background-color: rgba(255, 255, 255, 0.596);;"> 
    
        <div class="navigaion-container col-lg-6 col-md-4 col-sm-4">
          <nav role="navigation">
                  <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                      <h2>Tunisie Concentrateurs</h2>
                      <p>Restez prudent ! Mettez vos masques, lavez vos main et limitez vos sorties !</p>

                      <a href="mailto:'alaanabli0420@gmail.com" class="flex-row">
                        <mat-icon aria-hidden="false" aria-label="Example contact_mail icon">contact_mail</mat-icon>
                        <li>Contact</li>
                      </a>
                      
                      <a href="https://www.facebook.com/mokatechtn/" target="_blank" class="flex-row" id="Mokatech">
                        <li> Alaa Nebli &copy; MokaTech</li>
                      </a>
                  </ul>
                  </div>
                  
            </nav>
        </div>
  
  </header>
